<ion-view title="ABOUT US" id="page9" class="about_us"  >
    <ion-content padding="true" class="has-header">
      <div style="height: 30%; ">
        <img class="full-image" src="../img/aboutus.jpg" style="margin-right: 150px;">
      </div>

      <div class="lists card" >

        <div class="item item-divider"> <h2>Brief History </h2></div>
        <p style="text-align: justify;" class="item item-body"> Jesus House Torry Aberdeen is part of RCCG Worldwide, with presence in the UK as far back as 1986.
          The RCCG in the UK became a registered charity in England and Wales with charity registration number 1084767.
          The RCCG (UK) Central Office is presently located at - The Redemption House, Station Road, Knebworth, Hertfordshire SG3 6AT.
          Jesus House Torry as stated earlier is part of RCCG in the UK and it took off as a parish on 13th January 2008 after the old church relocated to the City centre at 20 Holborn Street.
          Jesus House Torry parish continued its meeting at the Balnagask Community Centre until July 2011, when it moved to 191 Victoria, former Episcopal Church Hall.
          The Church became a registered charity in Scotland on 28 September 2011 with charity number SC042618.
          In April 2014 Jesus House Torry acquired the property at 191 Victoria Road in Aberdeen which became the registered address of the charity and where the church has continued to worship till date.</p>
        </div>
    </ion-content>

</ion-view>
