<ion-view title="CONTACT US" id="page4" style="background-color: #d1d3d6;">
  <ion-content padding="true" class="has-header">
    <div style="height: 30%; ">
      <img src="../img/new_logo.png" style="margin-right: 150px;">
    </div>
    <div class="card" style="text-align: center;">
      <div class="item item-text-wrap">
        <h3>WORSHIP CENTER</h3>
        <p> 191 Victoria Road, Torry, Aberdeen
            AB11 9NE
        </p>
      </div>

      <div class="item item-text-wrap">
        <h3>TELEPHONE</h3>
        <p> 01224 874158 <br> 07456896999
        </p>
      </div>

      <div class="item item-text-wrap">
        <h3>EMAIL ADDRESS</h3>
        <p> info@jesushousetorry.org <br> jesushousetorry@gmail.com
        </p>
      </div>

      <div class="item item-text-wrap">
        <h3>OFFERINGS & DONATION</h3>
        <p>  finance@jesushousetorry.org
        </p>
      </div>


      <div class="item item-text-wrap">
        <h3>TRANSPORT NEEDS</h3>
        <p>  07749408933
        </p>
      </div>

      <div class="item item-text-wrap">
        <h3> PASTOR </h3>
        <p>  dapo@jesushousetorry.org
        </p>
      </div>

      <div class="item item-text-wrap">
        <h3> REAL HEROES </h3>
        <p>   realheroes@jesushousetorry.org
        </p>
      </div>



    </div>
  </ion-content>
</ion-view>
